/* Default styles */

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: 0 auto;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}


.btn {
    background-color: rgba(83, 157, 95, 0.2);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 50%;
    height: 80%;
    border-color:  rgba(83, 157, 95, 0.2);;
    box-shadow: 0 3px 6px #a6a6a6 ;
    margin: 0 auto;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

    
.btn:hover {
     box-shadow: 0 3px 6px #6f6f6f ;
    background-color:  rgba(83, 140, 95, 0.3);
    border-color: rgba(83, 140, 95, 0.3);
   
}
.btn:active {

    background-color:  rgba(84, 157, 95, 0.4)!important;
    border-color:  rgba(84, 157, 95, 0.4)!important;
    box-shadow: 0 3px 6px #6f6f6f !important;
}

#hexagramContainer {

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: whitesmoke;
    width: 80%;
    padding: 2%;
    font-size: 16px;
    font-weight: bold;
    background-image: url('Hex1ContainerBG.webp');
    background-size: 80%;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-size:    cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}
#hexagramContainer2 {

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align:   center;
    color: whitesmoke;
    width: 80%;
    padding: 2%;
    font-size: 16px;
    font-weight: bold;
    background-image: url('Hex2ContainerBG.webp');
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 2%;
    background-size:  cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

body {
    /*  display: flex;
      justify-content: center;
      align-items: center;*/
    height: 100vh;
    margin-top: 2%;
    margin-bottom: 2%;
    background-image: url('PageBG2.webp');
    background-size: cover;
    font-family: "Michroma";
}